body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background-color: #3576A7;
	min-height: 140px;
	color: white;
}

.header-heading img {
	margin-top: 15px;
	height: 80px;
}

.header-widget-area {
	margin-top: 29px;
	width: auto;
	float: right;
}

.header-widget {
	float: left;
	display: inline-block;
	width: 180px;
}

.header-widget:first-child {
	margin-right: 40px;
}

.header-widget:last-child {
	margin-left: 15px;
	width: 140px;
}

.header-widget i {
	float: left;
	margin-top: 7px;
	margin-right: 10px;
}

.header-widget-title {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 4px;
} 

.header-widget-subtitle {
	font-size: 0.9em;
	font-weight: normal;
} 


.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 115px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #fff;
    border: #fff;
    border-radius: 25px;
    z-index: 1;
}

.navbar .container {
	width: 100%;
}

.navbar .navbar-nav {
	display: inline-block;
  	float: none;
  	vertical-align: top;
}

.navbar .navbar-nav li a {
	color: #3576A7;
	transition: all 0.2s ease;
}

.navbar .navbar-nav li a:hover {
	color: #fff;
	background-color: #3576A7;
}

.navbar .navbar-collapse {
  	text-align: center;
}

.jumbotron {
	margin-top: 0px;
	padding-top: 105px;
	background: #4EC9DF url("../images/carousel1.png") no-repeat;
	color: #fff;
	height: 400px;
}

.jumbotron .container {
	position: absolute;
	left: 7%;
	padding: 30px;
	background-color: #ffffff;
	opacity: 0.85;
    filter: alpha(opacity=85); /* For IE8 and earlier */
    width: 50%;
    border-radius: 20px;
}

.jumbotron .container h1 {
	font-size: 2em;
	color: #3576a7;
}

.jumbotron .container p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	color: #3576a7;
	font-weight: 400;
	line-height: 1.7em;
}

.main-body h2 {
	font-size: 1.7em;
}

.main-body p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	line-height: 1.6em;
}

.main-body a.btn {
	background-color: #3576A7;
	border-color: #3576A7;
	margin-top: 5px;
	transition: all 0.2s ease;
}

.main-body a.btn:hover {
	background-color: #4EC9DF;
	border-color: #4EC9DF;
}

.main-body a.btn i.fa {
	margin-left: 7px;
}

.footer {
	margin-top: 40px;
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: #4EC9DF;
    color: #fff;
}






/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	.header-heading img {
		height: 65px;
		margin-top: 23px;
	}

	.jumbotron .container {
   		width: 60%;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	.header-widget {
		width: 155px;
	}

	.header-widget:first-child {
		margin-right: 15px;
	}

	.header-widget:last-child {
		margin-left: 7px;
	}

	.header-widget i {
		font-size: 2.2em;
		margin-top: 10px;
		margin-right: 9px;
	}

	.header-widget-title {
		font-size: 0.9em;
		margin-bottom: 3px;
	} 

	.header-widget-subtitle {
		font-size: 0.8em;
	}

	.header-heading img {
		height: 55px;
		margin-top: 27px;
	}

	.jumbotron .container {
   		width: 70%;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	header {
		min-height: 200px;
	}

	.header-widget-area {
		margin: auto;
		padding: 0px;
		float: none;
		width: 395px;
	}

	.header-widget {
		width: 135px;
		float: none;
	}

	.header-widget:first-child {
		margin-right: 10px;
	}

	.header-widget:last-child {
		margin-left: 10px;
		width: 95px;
	}

	.header-heading {
		text-align: center;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.header-widget i {
		font-size: 1.8em;
		margin-top: 12px;
		margin-right: 8px;
	}

	.header-widget-title {
		font-size: 0.9em;
		margin-bottom: 3px;
	} 

	.header-widget-subtitle {
		font-size: 0.7em;
	}

	.navbar {
		top: 175px;
	}

	.jumbotron {
		padding-top: 70px;
	}

	.jumbotron .container {
   		width: 86%;
	}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	header {
		min-height: 280px;
	}

	.header-heading {
		font-size: 2.5em;
		margin-bottom: 20px;
	}

	.header-widget-area {
		margin: auto;
		padding: 0px;
		float: none;
		width: 180px;
	}

	.header-widget {
		float: none;
		display: block;
		width: auto;
	}

	.header-widget i {
		font-size: 2em;
		margin-top: 5px;
		margin-right: 15px;
	}

	.header-widget-title {
		font-size: 1em;
		margin-bottom: 3px;
	} 

	.header-widget-subtitle {
		font-size: 0.9em;
	}

	.header-widget:first-child {
		margin-right: 0;
	}

	.header-widget:last-child {
		margin-left: 0;
		width: auto;
	}

	.navbar {
		top: 255px;
	}

	.jumbotron {
		padding-top: 70px;
		height: 525px;
	}
}